.basicIntro .big-heading {
  text-align: center;
  padding-bottom: 1.2rem;
  font-size: 2.8rem;
}

.studDets {
  /* margin-left: 0.2rem; */
  padding: 2rem;
  border-style: double;
  border-radius: 1rem;
  border-color: #82954b;
  border-width: 0.5rem;
}

.studDets > .myStudentDetails {
  color: #92ba92;
  border-bottom: 1px solid;
}

.studDets > .myStudentDetails h3 {
  color: #1a4d2e;
  font-size: 1.6rem;
  line-height: 2;
  text-align: justify;
}

.studDets > .myStudentDetails .small-dets {
  font-family: "Ubuntu", sans-serif;
  color: #4b8673;
}

#profilePicture {
  border-radius: 100%;
}

.uncoloredSection {
  text-align: center;
}

.uncoloredSection .container-fluid {
  padding: 2rem !important;
  text-align: center;
}

.uncoloredSection h1 {
  font-family: "Montserrat", sans-serif;
  color: #251d3a;
  font-weight: 900;
  font-size: 3rem;
  /* padding-bottom: 1.25rem; */
}

.uncoloredSection .small-descript {
  color: #2a2550;
  font-family: "Nuosu SIL", serif;
}

/* ============== Gallery ============ */
.list-wrapper {
  overflow: hidden;
}

.list-item .caption {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 1.25rem;
  /* border: 1px solid #EEE;
    border-radius: 1rem;
	background: #FFF;
	margin-bottom: 10px;
	box-shadow: 0px 0px 10px 0px #EEE; */
}

.gradeImg {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 80%;
}

.list-item h4 {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-size: 1.1rem;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  color: #ffffff;
}

.simple-pagination ul {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.simple-pagination li {
  display: inline-block;
  margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
  font-size: 18px;
  border-radius: 25%;
  color: #666;
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #eee;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px #eee;
}

.simple-pagination .current {
  color: #fff;
  background-color: #4e944f;
  border-color: #4e944f;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
  background: #4e944f;
}

#gradesThirdSection {
  text-align: center;
}

#gradesThirdSection h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: #4e944f;
  line-height: 1.5;
}

#gradesThirdSection h1 {
  margin: 0;
}

#gradesThirdSection .small-descript {
  color: #005555;
  font-family: "Nuosu SIL", serif;
  padding: 0 15% 1.25rem 15%;
}

#gradesThirdSection .container-fluid .row .card {
  text-align: center;
  margin: 1rem auto;
}

#gradesThirdSection .container-fluid .row {
  padding: 0 14%;
}

#gradesThirdSection .container-fluid .row:nth-child(even) {
  padding: 0 26%;
}

#gradesThirdSection .container-fluid .row .card {
  background: #faf5e4;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#gradesThirdSection .container-fluid .row .card .card-body .iconInstitute {
  width: 262px;
  height: 280px;
}

#gradesThirdSection .container-fluid .row .card .card-title {
  background-color: #82954b;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin: 0;
  color: #faf5e4;
  font-family: "Ubuntu", sans-serif;
}

#gradesFourthSection .carousel-inner .carousel-item .certImg {
  width: 70%;
  margin-bottom: 1%;
}

/* #gradesFourthSection .carousel-inner .container-fluid {
  padding: 2% 0 6%!important;
} */

/* #gradesThirdSection .container-fluid .row .col-lg-4:first-of-type .card{
  margin-left: 200px;
} */

/* #gradesThirdSection .container-fluid .row .col-lg-4:nth-child(1) .card{
  margin-left: 200px;
}

#gradesThirdSection .container-fluid .row .col-lg-4:nth-child(3) .card{
  margin-right: 200px;
}

#gradesThirdSection .container-fluid .row .col-lg-6:nth-child(even) .card{
  margin-left: 400px;
}

#gradesThirdSection .container-fluid .row .col-lg-6:nth-child(odd) .card{
  margin-right: 400px;
} */

/* #gradesThirdSection .container-fluid .row .col-lg-6:last-of-type .card{
  margin-right: 200px;
} */

/* ===================== Laptop ========================== */
@media screen and (max-width: 1600px) {
  .basicIntro .big-heading {
    padding-bottom: 1rem;
    font-size: 2.4rem;
  }

  .studDets {
    padding: 1rem;
  }

  .studDets > .myStudentDetails h3 {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  #profilePicture {
    width: 75%;
  }

  #gradesThirdSection .container-fluid .row {
    padding: 0;
  }
  
  #gradesThirdSection .container-fluid .row:nth-child(even) {
    padding: 0 16%;
  }

  #gradesFourthSection .carousel-inner .carousel-item .certImg {
    width: 85%;
  }
}

@media screen and (max-width: 1430px) {
  .basicIntro .big-heading {
    padding-bottom: 1rem;
    font-size: 1.9rem;
  }

  .studDets {
    padding: 0.7rem;
  }

  .studDets > .myStudentDetails h3 {
    font-size: 1.25rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 1110px) {
  #gradesThirdSection {
    padding: 5%;
  }
}

@media screen and (max-width: 1040px) {
  .basicIntro .big-heading {
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }

  .studDets > .myStudentDetails h3 {
    font-size: 1.2rem;
    line-height: 1.2;
  }

  .uncoloredSection h1 {
    font-size: 2.5rem;
  }

  .list-item .caption {
    width: 100%;
  }

  .gradeImg {
    width: 100%;
  }
}

/* =============== Tablet ============================= */
@media screen and (max-width: 921px) {
  #profilePicture {
    width: 55%;
  }

  #gradesThirdSection h1 {
    font-size: 2.6rem;
  }

  #gradesThirdSection .small-descript {
    padding: 0 2%;
  }

  #gradesThirdSection .container-fluid .row {

    padding: 0;
  }

  #gradesThirdSection .container-fluid .row:nth-child(even) {
    padding: 0 15%;
  }

  #gradesThirdSection .container-fluid .row .card {
    width: 100%!important;
  }

  #gradesThirdSection .container-fluid .row .card .card-body .iconInstitute {
    width: 162px;
    height: 180px;
  }

  #gradesThirdSection .container-fluid .row .card .card-title h3 {
    font-size: 1.2rem;
    padding-top: 0.3rem;
  }

  #gradesFourthSection {
    padding: 6% 0;
  }

  #gradesFourthSection .carousel-inner .carousel-item .certImg {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  #gradesThirdSection {
    padding: 3%;
  }
}

/* =============== Mobile ============================= */
@media screen and (max-width: 680px) {
  .basicIntro .big-heading {
    padding-bottom: 1rem;
    font-size: 1.7rem;
  }

  .studDets {
    padding: 0.5rem;
    border-width: 0.4rem;
  }

  .uncoloredSection .container-fluid {
    padding: 0 !important;
    text-align: center;
  }

  .uncoloredSection h1 {
    font-size: 1.7rem;
  }

  .list-item .caption {
    width: 100%;
  }

  .gradeImg {
    width: 100%;
    height: 75vh;
  }


  #gradesThirdSection h1 {
    font-size: 2rem;
  }

  #gradesThirdSection .small-descript {
    padding: 0 2%;
  }

  #gradesThirdSection .container-fluid .row:nth-child(even) {
    padding: 0;
  }

  #gradesThirdSection .container-fluid .row .card {
    width: 15rem!important;
  }

  #gradesFourthSection .carousel-inner .carousel-item .certImg {
    padding: 0 3%;
    width: 100%;
    height: 65vh;
    margin-bottom: 9%;
  }

}
